/* General CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  width: 100%;
}

#wrapper {
  max-width: 1980px;
  margin: 0 auto;
  /* background-color: red; */
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  /* background-color: green; */
}

/* Navigation CSS */

.nav-container {
  background: #f1f1f1;
}

.nav-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.nav-container h3 {
  font-size: 30px;
}

ul.nav-list {
  list-style: none;
  display: flex;
}

li.nav-item a {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-family: arial;
  font-size: 18px;
}

li.nav-item {
  padding-left: 40px;
}

li.nav-item a:hover {
  /* color: #39b54a;
  border-bottom: 1px solid #39b54a;
  padding-bottom: 5px; */
}

.active {
  color: #39b54a;
  border-bottom: 2px solid #39b54a;
  padding-bottom: 5px;
  /* padding-left: 62px; */
  /* background-color: red; */
  padding-right: 40px;
}

/* Home Banner CSS */

.home-container {
  width: 100%;
  height: 500px;
  /* background: url('images/home-bg.jpg') no-repeat center center;
    background-size: cover; */
  background-color: skyblue;
  padding-top: 60px;
  padding-bottom: 40px;
}

.home-container .container {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.home-intro {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #111;
}

.home-intro h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

.logo {
  width: 40%;
  background-color: skyblue;
  display: inline-block;
  position: relative;
  top: 40px;
}

/* Home Body Style */

.body-container {
  padding-bottom: 40px;
}

.body-container .container {
  padding-top: 40px;
}

.body-first {
  display: flex;
  justify-content: space-between;
}

.body-first div {
  width: 45%;
}

.body-first div img {
  width: 45%;
  background: red;
  display: block;
  margin: 0 auto;
}

.body-first div a {
  text-decoration: none;
}

.body-first div p,
.body-second p {
  text-align: center;
  padding: 10px;
  font-size: 22px;
  color: red;
}

.body-second {
  width: 80%;
  margin: 0 auto;
}

.body-second p {
  text-align: center;
  padding: 40px 0px !important;
}

.body-second div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.body-second div img {
  width: 10%;
}

/* Footer CSS */

footer {
  background: #f6ff00;
  width: 100%;
  padding: 40px;
}

footer .container > div {
  display: flex;
  justify-content: space-between;
}

.footer-div {
  width: 30%;
  padding: 80px 40px;
  background: #999;
  border-radius: 7px;
}

.footer-div p {
  font-size: 23px;
  text-align: center;
}

/* tochigi guide CSS */

.tochigiContainer h1 {
  /* background-color: green; */
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.map {
  background: url("images/map_jp.png") no-repeat center;
  height: 500px;
  background-size: contain;
  width: 100%;
}
.paragraph {
  /* background-color: blue; */ 
  border: 2px solid #000;
  padding: 20px;
  width: 45%;
  margin: 0 auto;
  font-size: 22px;
}

.paragraph .dot {
  font-size: 20px;
  font-weight: bold;
}
ul.paragraph li {
  /* list-style: none; */
}

.paragraph li {
  font-size: 20px;
  padding: 3px;
}

.tochigiImageList P {
  margin: 5px;
  font-size: 20px;
}

.tochigiImagerow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  text-align: center;
}

.tochigiImagerow > div {
  width: 24%;
}

.tochigiImagerow label {
  font-size: 18px;
}

.tochigiImagerow img {
  width: 100%;
  height: 100%;
}

/* japan CSS */

.japanContainer p {
  /* background-color: sienna; */
  font-size: 25px;
  margin-top: 25px;
}

.japanContainer span {
  /* background-color: slategrey; */
  font-size: 22px;
}
.japanParagraph {
  /* background-color: seashell; */
  margin: 15px 0px;
}

.japanContainer h4 {
  /* background-color: blue; */
  border: 2px solid #000;
  width: 90%;
  margin: 0 auto;
  height: 250px;
  text-align: center;
  padding: 100px 0;
  font-size: 25px;
}

.japanImage {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.japanImage > div {
  width: 30%;
  border: 1px solid;
  height: 380px;
  margin: 12px 0px;
}

.japanImage img {
  height: 377px;
}

@media (max-width: 1000px) {
  .logo {
    width: 40%;
    background-color: skyblue;
    display: inline-block;
    position: relative;
    top: 15px;
  }
}

@media (max-width: 920px) {
  .nav-container {
    display: none;
  }

  .home-intro {
    width: 100%;
    height: 270px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111;
  }
  .home-container {
    width: 100%;
    height: 450px;
    background-color: skyblue;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .home-intro h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 1px;
  }

  .logo {
    width: 40%;
    background-color: skyblue;
    display: inline-block;
    position: relative;
    top: 15px;
  }

  .paragraph {
    /* background-color: blue; */
    border: 2px solid #000;
    padding: 20px;
    width: 55%;
    margin: 0 auto;
    font-size: 18px;
  }
  .paragraph .dot {
    font-size: 20px;
    font-weight: bold;
  }
}

@media (max-width: 900px) {
  .map {
    background: url("images/map_jp.png") no-repeat center;
    height: 440px;
    background-size: contain;
    width: 100%;
  }

  .paragraph {
    /* background-color: blue; */
    border: 1px solid #000;
    padding: 20px;
    width: 55%;
    margin: 0 auto;
    font-size: 18px;
  }

  .home-intro {
    width: 100%;
    height: 270px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111;
  }
  .home-container {
    width: 100%;
    height: 450px;
    background-color: skyblue;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .home-intro h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 1px;
  }

  .logo {
    width: 40%;
    background-color: skyblue;
    display: inline-block;
    position: relative;
    top: 12px;
  }
}

@media (max-width: 700px) {
  .map {
    background: url(images/map_jp.png) no-repeat center;
    height: 300px;
    background-size: contain;
    width: 100%;
  }

  /* .paragraph li {
    font-size: 13px;
    padding: 2px;
  } */

  .paragraph {
    /* background-color: blue; */
    border: 2px solid #000;
    padding: 20px;
    width: 55%;
    margin: 0 auto;
    font-size: 12px;
  }
  .paragraph .dot {
    font-size: 20px;
    font-weight: bold;
  }

  .japanContainer h4 {
    /* background-color: blue; */
    border: 2px solid #000;
    width: 90%;
    margin: 0 auto;
    height: 200px;
    text-align: center;
    padding: 80px 0;
    font-size: 22px;
  }

  .japanContainer p {
    /* background-color: sienna; */
    font-size: 23px;
    margin-top: 23px;
  }

  .japanContainer span {
    /* background-color: slategrey; */
    font-size: 20px;
  }

  .japanImage > div {
    width: 30%;
    border: 1px solid;
    height: 280px;
    margin: 12px 0px;
  }

  .japanImage img {
    height: 275px;
  }

  .home-intro {
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111;
  }

  .home-intro h2 {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
  }

  .logo {
    width: 40%;
    background-color: skyblue;
    display: inline-block;
    position: relative;
    top: 35px;
  }

  .body-first div p,
  .body-second p {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: red;
  }

  footer {
    background: #f6ff00;
    width: 100%;
    padding: 40px;
  }

  .footer-div {
    width: 30%;
    padding: 25px 0px;
    background: #999;
    border-radius: 7px;
  }

  .footer-div p {
    font-size: 15px;
    text-align: center;
  }

  .body-second {
    width: 75%;
    margin: 0 auto;
  }

  .home-container {
    width: 100%;
    height: 400px;
    background-color: skyblue;
    padding-top: 60px;
    padding-bottom: 28px;
  }
}

@media (max-width: 600px) {
  .tochigiContainer h1 {
    font-size: 25px;
    margin-top: 15px;
  }

  .paragraph li {
    font-size: 14px;
    padding: 3px;
  }

  .paragraph {
    border: 1px solid #000;
    padding: 18px;
    width: 68%;
    margin: 0 auto;
  }

  .map {
    background: url("images/map_jp.png") no-repeat center;
    height: 300px;
    background-size: contain;
    width: 100%;
    margin: 0 auto;
  }

  .japanImage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .japanContainer h4 {
    /* background-color: blue; */
    border: 2px solid #000;
    width: 80%;
    margin: 0 auto;
    height: 190px;
    text-align: center;
    padding: 80px 0;
    font-size: 20px;
  }

  .japanContainer p {
    /* background-color: sienna; */
    font-size: 22px;
    margin-top: 23px;
  }

  .japanContainer span {
    /* background-color: slategrey; */
    font-size: 19px;
  }

  .japanImage > div {
    width: 70%;
    border: 1px solid;
    height: 380px;
    margin: 12px auto;
  }

  .japanImage img {
    height: 377px;
  }
}

@media (max-width: 500px) {
  .home-intro h2 {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }

  .home-intro {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111;
  }

  .home-container {
    width: 100%;
    height: 350px;
    background-color: skyblue;
    padding-top: 60px px;
    padding-bottom: 28px;
  }

  .body-container .container {
    padding-top: 20px;
  }

  .body-first {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .body-first div {
    width: 100%;
    margin: 0 auto;
  }

  .body-first div img {
    width: 50%;
    background: red;
    display: block;
    margin: 0 auto;
  }

  .body-first div p {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: red;
  }

  .body-second p {
    text-align: center;
    padding: 15px 0px !important;
  }

  .body-container {
    padding-bottom: 25px;
  }

  .body-second {
    width: 70%;
    margin: 0 auto;
  }

  .footer-div {
    width: 30%;
    padding: 20px 0px;
    background: #999;
    border-radius: 7px;
  }

  .footer-div p {
    font-size: 13px;
    text-align: center;
  }

  .tochigiContainer h1 {
    font-size: 22px;
    margin-top: 15px;
  }

  .body-second div img {
    width: 13%;
  }

  .map {
    background: url(images/map_jp.png) no-repeat center;
    height: 210px;
    background-size: contain;
    width: 100%;
    margin: 0 auto;
  }

  .tochigiImagerow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
  }

  .tochigiImagerow > div {
    width: 45%;
    margin-bottom: 32px;
  }

  /* .paragraph li {
    font-size: 10px;
  }

  .paragraph {
    border: 1px solid #000;
    padding: 5px 20px;
    width: 65%;
    margin: 0 auto;
  } */

  .paragraph {
    /* background-color: blue; */
    border: 2px solid #000;
    padding: 10px;
    width: 68%;
    margin: 0 auto;
    font-size: 10px;
  }
  .paragraph .dot {
    font-size: 20px;
    font-weight: bold;
  }

  .tochigiImageList P {
    margin: 5px;
    font-size: 13px;
  }

  .tochigiImagerow label {
    font-size: 12px;
  }

  .japanImage > div {
    width: 65%;
    border: 1px solid;
    height: 300px;
    margin: 12px auto;
  }

  .japanImage img {
    height: 296px;
  }

  .japanContainer p {
    /* background-color: sienna; */
    font-size: 20px;
    margin-top: 20px;
  }

  .japanContainer h4 {
    /* background-color: blue; */
    /* background-color: blue; */
    border: 2px solid #000;
    width: 90%;
    margin: 0 auto;
    height: 160px;
    text-align: center;
    padding: 65px 0;
    font-size: 18px;
  }

  .japanContainer span {
    /* background-color: slategrey; */
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  /* .paragraph {
    border: 1px solid #000;
    padding: 5px 20px;
    width: 75%;
    margin: 0 auto;
    font-size: 10px;
  } */

  .paragraph {
    /* background-color: blue; */
    border: 2px solid #000;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    font-size: 10px;
  }
  .paragraph .dot {
    font-size: 20px;
    font-weight: bold;
  }

  .japanContainer p {
    /* background-color: sienna; */
    font-size: 20px;
    margin-top: 15px;
  }

  .home-intro h2 {
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }

  .body-first div p {
    text-align: center;
    padding: 20px;
    font-size: 13px;
    color: red;
  }

  .home-container {
    width: 100%;
    height: 225px;
    background-color: skyblue;
    /* padding-top: 60px px;
    padding-bottom: 0px; */
  }

  .home-container .container {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .body-first div img {
    width: 45%;
    background: red;
    display: block;
    margin: 0 auto;
  }

  .home-intro {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111;
  }

  .logo {
    width: 40%;
    background-color: skyblue;
    display: inline-block;
    position: relative;
    top: 5px;
  }
}

@media (max-width: 300px) {
  .tochigiContainer h1 {
    font-size: 15px;
    margin-top: 10px;
  }

  .map {
    background: url(images/map_jp.png) no-repeat center;
    height: 145px;
    background-size: contain;
    width: 100%;
    margin: 0 auto;
  }

  .paragraph li {
    font-size: 8px;
    padding: 0px;
  }

  .paragraph {
    border: 1px solid #000;
    padding: 12px;
    width: 75%;
    margin: 0 auto;
  }

  .tochigiImageList P {
    margin: 5px;
    font-size: 12px;
  }

  .tochigiImagerow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: center;
  }

  .tochigiImagerow > div {
    width: 100%;
    margin-bottom: 20px;
  }

  .tochigiImagerow label {
    font-size: 11px;
  }

  .japanContainer p {
    /* background-color: sienna; */
    font-size: 18px;
    margin-top: 15px;
  }

  .japanContainer h4 {
    /* background-color: blue; */
    border: 2px solid #000;
    width: 85%;
    margin: 0 auto;
    height: 130px;
    text-align: center;
    padding: 50px 0;
    font-size: 16px;
  }

  .japanContainer span {
    /* background-color: slategrey; */
    font-size: 15px;
  }

  .japanImage > div {
    width: 70%;
    border: 1px solid;
    height: 334px;
    margin: 12px auto;
  }

  .japanImage img {
    height: 330px;
  }
}

@media (max-width: 350px) {
  .map {
    background: url(images/map_jp.png) no-repeat center;
    height: 170px;
    background-size: contain;
    width: 100%;
    margin: 0 auto;
  }

  .paragraph {
    border: 1px solid #000;
    /* padding: 14px; */
    padding: 1px 15px;
    width: 83%;
    margin: 0 auto;
  }
}
